/*@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);*/
body {
  /*font-weight: 300;
  font-family: 'Lato', Calibri, Arial, sans-serif;*/
  padding-top: 70px;
}

/* Common */
.thin-font{
  font-weight: 300;
  font-family: 'Lato', Calibri, Arial, sans-serif;
}
.block-hide{
  display: none;
}
textarea{resize: none}

/* Start zone */
.start-zone{
  padding: 100px;
}
.start-zone p{
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.browse_files{
  text-decoration: underline;
}

/* Preview zone */
.preview-zone{
  margin: 50px auto;
}
.preview-zone img{
  max-width: 1140px;
  max-height: 800px;
}

/* Thumbnail zone */
.thumbnail-zone{
  margin-bottom: 30px;
}
.thumbnails-holder .upload-thumbnail{
  display: block;
  float: left;
}
.thumbnails-holder .active{
  border-bottom: 2px solid #428bca;
  padding-bottom: 10px;
}
.thumbnail-zone .nav>li{
  margin: 10px 10px 10px 0;
  padding-bottom: 10px;
}
.thumbnail-zone .nav>li>a, .thumbnail-zone .nav>li>a:hover{
  padding: 0;
  border: none;
  margin-right: 0;
}
.thumbnail-zone .actions{
  margin-top: 20px;
}
.thumbnail-zone .nav-tabs{
  border: none;
}

/* Edit zone */
.container-fluid{
  width: 100%;
  background: #f7f8fa;
  padding: 20px 0 50px;
}
.label-main{
  font-size: 14px;
  font-weight: bold;
  color: #428bca;
}
.photo-title{
  font-size: 22px;
  font-weight: bold;
}
.instant-edit{
  border: none;
  background: none;
  box-shadow: none;
}
.instant-edit:focus{
  border: 1px solid #66afe9;
  background: #fff;
}
.exif{
  font-size: 12px;
}